body
{
    background-color:rgba(221, 251, 246, 0.568);
    color:black;
    font-size:16;
}
img{
    width: 10%;
    height:30%;
    position: absolute;
    top: 100px;
    left: 1300px;
    
}
.content{
    max-width: 1000px;
    margin: auto;
}


h1{
    color: blueviolet;
    text-decoration: underline solid rgb(215, 216, 217);
    text-align:center;
}
h2{
    color: rgb(5, 148, 173);
    background-color: #e711b54f;
}

table,th,td{
     width: 800px;  
     margin: left;
     padding: 5px;
     text-align: center;
    border: 2px;
}    

th{
    background-color: rgba(128, 132, 131, 0.344);
}














